html {
    background: url('../images/bgimage2.jpg');
    background-size: cover;
    z-index: 99;
}

body {
    background-color: #eee;
    padding-top: 20px;
    font-family: Courier New, Courier, monospace;
    color: white;
    text-shadow: 2px 2px 8px black, 2px 2px 8px darkorange, 2px 2px 8px black;
    background: url('../images/bgimage2.jpg');
    background-size: cover;
}
.container { 
    text-align: center;
    
}
h1,h2,h3,
h4,h5,h6 {
    font-size: 1.8vw;
    padding: 5px;
    background-color: rgba(91, 51, 2, 0.6);
}
#title-image, #gameover-image, #youwin-image{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { 
    display: none;
}
.gameplay-column {
    padding-top: 20px;
    border: 3px dashed rgba(91, 51, 2, 0.6);
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(34, 32, 32, 0.194);
}

@media (max-width: 992px) {
    h1,h2,h3,
    h4,h5,h6 {
        font-size: 1.7vw;
    }
}
@media (max-width: 768px) {
    h1,h2,h3,
    h4,h5,h6 {
        font-size: 3.5vw;
    }
    .title-image {
        width: 10vw;
    }
}
@media (max-width: 576px) {
    h1,h2,h3,
    h4,h5,h6 {
        font-size: 4.5vw;
    }
}